/* Media Queries */
@media(max-width: 1014px){
    .header,
    .header .logo,
    .header .extra,
    .header .extra li,
    .article
    {
      float: none;
      text-align: center;
      width: 100%;
    }
    .header {
      font-size: 50px;
      height: 20%;
    }
    .header .logo {
      margin-top: 0px;
    }
    .header .extra{
      margin-top:-20px;
    }
    .login-form {
      width: 50%;
    }
  }
  @media(max-width: 700px){
    .login-form {
      width: 60%;
    }
  }
